.mar-t30{
	margin-top: 30px;
}
.btn-group{
	margin:0 auto;
}
.content-wrapper{
	border:1px solid #ccc;
	border-radius: 4px;
	margin-top: 20px;
	padding:20px;
}
.content-wrapper .item{
	display: none;
}
.content-wrapper div.show{
	display: block;
}